
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

/*importing from url*/

/*@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");*/

/*IMPORTING FROM BASE*/

/*Reset*/

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html{
	font-size: 62.5%; /*100% is 16px; 62.5%which is 10px */
}

body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7; /*Gapbetween paragraphs*/
	color: #777; 
	padding: 3rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/*COLORS */

/*TESTing*/

/*Font */

/*Gutters*/

.u-center-text{ text-align: center !important; }

.u-margin-bottom-sm{ margin-bottom: 1.5rem  !important; }

.u-margin-bottom-md{ margin-bottom: 4rem  !important; }

.u-margin-bottom-bg{ margin-bottom: 8rem  !important; }

.u-margin-top-bg{ margin-top: 8rem  !important; }

.u-margin-top-xl{ margin-top: 10rem  !important; }

/*Modules*/

.site-header{
	height: 95vh; /*view-port*/
	background-image: -webkit-gradient( linear, left top, right bottom, from(rgba(126,213,111, 0.8)), to(rgba(85,197,122, 0.8))) , url(../../assets/images/hero.jpg);
	background-image: linear-gradient( to right bottom, rgba(126,213,111, 0.8), rgba(85,197,122, 0.8)) , url(../../assets/images/hero.jpg);
	background-size: cover;
	background-position:top; /*center, bottom and top*/
	/*for cliping the path;  http://bennettfeely.com/clippy*/
	-webkit-clip-path: polygon(0 0, 100% 0,  100% 75vh, 0 100%);
	        clip-path: polygon(0 0, 100% 0,  100% 75vh, 0 100%); /*clock wise*/
	position: relative; 
	background-attachment: fixed;

	

	

}

.site-header__logo-box{
		position: absolute;
		/*border:$testBorder;*/
		top: 4rem;
		left: 4rem;
	}

.site-header__logo{
		height: 3.5rem;
	}

.site-header__info{
	/*	border:$testBorder;*/
		position: absolute;
		top: 40%; 
		left: 50%; 
		-webkit-transform: translate(-50%, -50%); 
		        transform: translate(-50%, -50%); 
		/*for thebooton as inline-block*/
		text-align: center;
	}

.heading-primary{
	color: #FFF;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden; /*to fix little sake*/
	margin-bottom: 6rem;
}

.heading-primary--main{
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
		-webkit-animation: moveInLeft 1s ease-out;
		        animation: moveInLeft 1s ease-out;
		/*animation-iteration-count: 3;*/
		/*animation-delay: 3s*/
	}

.heading-primary--sub{
		display: block;
		font-size: 2rem;
		font-weight: 400;
		letter-spacing: 1.75rem;
		-webkit-animation: moveInRight 1s ease-out;
		        animation: moveInRight 1s ease-out;
	}

@-webkit-keyframes moveInLeft {
	0%{
		opacity: 0;
		-webkit-transform: translateX(-10rem);
		        transform: translateX(-10rem);
	}

	80%{
		-webkit-transform: translateX(1rem);
		        transform: translateX(1rem);
	}

	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}

@keyframes moveInLeft {
	0%{
		opacity: 0;
		-webkit-transform: translateX(-10rem);
		        transform: translateX(-10rem);
	}

	80%{
		-webkit-transform: translateX(1rem);
		        transform: translateX(1rem);
	}

	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}

@-webkit-keyframes moveInRight {
	0%{
		opacity: 0;
		-webkit-transform: translateX(10rem);
		        transform: translateX(10rem);
	}

	80%{
		-webkit-transform: translateX(-1rem);
		        transform: translateX(-1rem);
	}

	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}

@keyframes moveInRight {
	0%{
		opacity: 0;
		-webkit-transform: translateX(10rem);
		        transform: translateX(10rem);
	}

	80%{
		-webkit-transform: translateX(-1rem);
		        transform: translateX(-1rem);
	}

	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}

.heading-secondary{
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image:-webkit-gradient( linear, left top, right top, from(#7ed56f), to(#55c57a) );
	background-image:linear-gradient( to right, #7ed56f, #55c57a );
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: .2rem;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;


}

.heading-secondary:hover{
		/*skew is type of italic */
		-webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
		        transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: .5rem 1rem 2rem rgba(0,0,0, .5);
	}

.heading-tertiary{
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph{
	font-size: 1.6rem;
}

.paragraph:not(:last-child) {
		margin-bottom: 3rem;
	}

.btn,
	.btn:link,
	.btn:visited{ 
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		-webkit-transition: all .5s;
		transition: all .5s;
		position: relative;
		font-size: 1.6rem;

		/*change for the buttons */
		border:none;
		cursor: pointer;

	}

.btn:hover{
		-webkit-transform: translateY(-3px);
		        transform: translateY(-3px); /*to go up*/
		-webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,.8);
		        box-shadow: 0 1rem 2rem rgba(0,0,0,.8);
	}

/*x y blureshadow and color*/

.btn:hover::after {
			-webkit-transform: scaleX(1.4) scaleY(1.6);
			        transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}

.btn:active,
	.btn:focus{
		/*click state*/
		outline: none;
		-webkit-transform: translateY(-1px);
		        transform: translateY(-1px);
		-webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
		        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
	}

.btn::after{
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		-webkit-transition: all .8s;
		transition: all .8s;
	}

.btn--white{
		background-color: #FFF;
		color: #777;
	}

.btn--white::after{
			background-color: #FFF;
		}

.btn--green{
		background-color: #7ed56f;
		color: #fff;
	}

.btn--green::after{
			background-color: #7ed56f;
		}

.btn--animated-bottom-to-top{
			-webkit-animation: moveInBottom .5s ease-out .75s backwards;
			        animation: moveInBottom .5s ease-out .75s backwards;
	}

@-webkit-keyframes moveInBottom {
	0%{
		opacity: 0;
		-webkit-transform: translateY(3rem);
		        transform: translateY(3rem);
	}

	80%{
		-webkit-transform: translateY(-1rem);
		        transform: translateY(-1rem);
	}

	100%{
		opacity: 1;
		-webkit-transform: translatY(0);
		        transform: translatY(0);
	}
}

@keyframes moveInBottom {
	0%{
		opacity: 0;
		-webkit-transform: translateY(3rem);
		        transform: translateY(3rem);
	}

	80%{
		-webkit-transform: translateY(-1rem);
		        transform: translateY(-1rem);
	}

	100%{
		opacity: 1;
		-webkit-transform: translatY(0);
		        transform: translatY(0);
	}
}

.btn-text:link,
	.btn-text:visited{
		font-size: 1.6rem;
		color: #7ed56f;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid #7ed56f;
		padding: 3px; 
		-webkit-transition: all 2.s ease-in; 
		transition: all 2.s ease-in;
	}

.btn-text:hover{
		background-color: #7ed56f;
		color: #FFF;
		-webkit-box-shadow: 0 1rem 2rem rgba(0,0,0, .5);
		        box-shadow: 0 1rem 2rem rgba(0,0,0, .5);
		-webkit-transform: translateY(-2px);
		        transform: translateY(-2px);
	}

.btn-text:active{
		-webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0, .5);
		        box-shadow: 0 .5rem 1rem rgba(0,0,0, .5);
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	}

.row {
	max-width: 114rem;
	margin:0 auto;


}

.row::after{
		content: "";
		clear: both;
		display: table;
	}

/* //will add the balnk spack allof the float content*/

.row:not(:last-child){ 
		/*not will not do for the last only*/
			margin-bottom: 8rem;
	}

/*to the class started with col- we dont want to repeat the code of float and margin*/

.row [class^="col-"]{ 
	/*this is the attribute selector*/
		float: left;
}

.row [class^="col-"]:not(:last-child) { 
			/*margin is not created in right side in the class*/
			margin-right: 6rem;
		}

.row .col-1-of-2{
		width: calc((100% - 6rem)/2);

	
	}

/*for colom 3*/

.row .col-1-of-3{
		width: calc((100% - (2 * 6rem) ) / 3);

	}

.row .col-2-of-3{
		width: calc( 2 * ((100% - (2 * 6rem) ) / 3) + 6rem);
	
	}

.row .col-1-of-4{
		width: calc((100% - (3 * 6rem)) /4 );

	}

.row .col-2-of-4{
		width: calc(2 * ( (100% - (3 * 6rem)) /4 ) + 6rem );

	}

.row .col-3-of-4{
		width: calc( 3 * ((100% - (3 * 6rem)) /4) + (2 * 6rem) );
	}

.about-section{
	background-color: #F7F7F7;
	padding: 25rem 0;
	margin-top: -20vh;
}

.composition{
	position: relative;


}

.composition__photo {
		width: 55%;
		-webkit-box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
		        box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
		border-radius: 2px;
		position: absolute;
		cursor: pointer;
		z-index: 10;
		-webkit-transition: all .2s ease-in;
		transition: all .2s ease-in;
		outline-offset: 2rem;
	}

/*sapce between the outlne*/

.composition__photo--pic1{
			left: 0;
			top: -2rem;
		}

.composition__photo--pic2{
			right: 0;
			top: 2rem;
		}

.composition__photo--pic3{
			left: 20%;
			top: 10rem;
		}

.composition__photo:hover{
			outline: 1.5rem solid #7ed56f;
			-webkit-transform: scale(1.05) translateY(-.5rem);
			        transform: scale(1.05) translateY(-.5rem);
			-webkit-box-shadow: 0 2.5rem 4rem rgba(0,0,0, .6);
			        box-shadow: 0 2.5rem 4rem rgba(0,0,0, .6);
			z-index: 24;

		}

.composition:hover .composition__photo:not(:hover) {
		-webkit-transform: scale(.9);
		        transform: scale(.9);
	}

.feature-section{
	margin-top: -11rem;
	padding:20rem 0;
	background-image: -webkit-gradient( linear, left top, right bottom, from(rgba(126,213,111, 0.8)), to(rgba(85,197,122, 0.8))) , url(../../assets/images/nat-4.jpg);
	background-image: linear-gradient( to right bottom, rgba(126,213,111, 0.8), rgba(85,197,122, 0.8)) , url(../../assets/images/nat-4.jpg);
	background-size: cover;
	/*we can do clip path with polygon*/
	/*scew*/

	-webkit-transform: skewY(-7deg);

	        transform: skewY(-7deg);
}

/*X for clockwise and y for anti clock wise*/

.feature-section >  * { /*the direct child of the features*/
		-webkit-transform: skewY(7deg);
		        transform: skewY(7deg);
	}

.feature-item{
	background-color: rgba(255,255,255, .8);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: 3px;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0,0,0,1.5);
	        box-shadow: 0 1.5rem 4rem rgba(0,0,0,1.5); 

	-webkit-transition: -webkit-transform .1s ease-in-out; 

	transition: -webkit-transform .1s ease-in-out; 

	transition: transform .1s ease-in-out; 

	transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;

}

.feature-item__icon{
		font-size: 6rem;
		margin-bottom: .5rem;
		background-image: -webkit-gradient( linear, left top, right top, from(#7ed56f) , to(#28b485) );
		background-image: linear-gradient( to right, #7ed56f , #28b485 );
		-webkit-background-clip:text;
		color: transparent;
	}

.feature-item:hover{
		-webkit-transform: translateY(-1.5rem) scale(1.03);
		        transform: translateY(-1.5rem) scale(1.03);
	}

.feature-item__description{
		/*the font size is inherited */
	}

.tours{
	padding: 25rem 0 15rem 0;
	background-color: #F7F7F7;
	margin-top: -10rem;
}

.card{
	position: relative;
	-webkit-perspective: 150rem;
	        perspective: 150rem;
	height: 52rem;

	
}

/*low the value the most dramatic the perspective int is on parent*/

.card__side{
		font-size: 2rem;
		height: 52rem;
		-webkit-transition: all .8s ease;
		transition: all .8s ease;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
		border-radius: 3px;
		overflow: hidden;/*for the overlaping image the overlapping is hidden*/
		-webkit-box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
		        box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
	}

.card__side--front{
			background-color: #FFF;
		}

.card__side--back{
			
			-webkit-transform:rotateY(180deg);
			
			        transform:rotateY(180deg);

		}

.card__side--back--one{
				background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
				background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
			}

.card__side--back--two{
				background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
				background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
			}

.card__side--back--three{
				background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
				background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
			}

/*perspective has to be on the parent the*/

.card:hover .card__side--front{
		/*roate half of circle in y roatation*/
		-webkit-transform:rotateY(-180deg);
		        transform:rotateY(-180deg);

	}

.card:hover .card__side--back{
		/*roate half of circle in y roatation*/
		-webkit-transform:rotateY(0deg);
		        transform:rotateY(0deg);

	}

/*Front side styling*/

.card__picture{
		background-size: cover;
		height: 23rem;
		background-blend-mode: screen; /*checks in the dev tool */
			/*blend-mode is not in fifefox and some other browser*/
		-webkit-clip-path: polygon(0 0 , 100% 0, 100% 85%, 0 100%);
		        clip-path: polygon(0 0 , 100% 0, 100% 85%, 0 100%);/*we hve move circle eclipse*/
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

.card__picture--one{
			background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)) ,
			url(../../assets/images/nat-5.jpg);
			background-image: linear-gradient(to right bottom, #ffb900, #ff7730) ,
			url(../../assets/images/nat-5.jpg);
			
		
		}

.card__picture--two{
			background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)) ,
			url(../../assets/images/nat-6.jpg);
			background-image: linear-gradient(to right bottom, #7ed56f, #28b485) ,
			url(../../assets/images/nat-6.jpg);
		}

.card__picture--three{
			background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)) ,
			url(../../assets/images/nat-7.jpg);
			background-image: linear-gradient(to right bottom, #2998ff, #5643fa) ,
			url(../../assets/images/nat-7.jpg);
		}

.card__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		color: #FFF;
		text-align: right;
		position: absolute;
		top: 12rem;
		right: 2rem;
		width: 75%;


	}

.card__heading-span{
			padding: 1rem 1.5rem;
			-webkit-box-decoration-break: clone;
			        box-decoration-break: clone;
		}

/*to fix the space in break */

.card__heading-span--one{
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255,185,0, .85)), to(rgba(255,119,48, .85)));
				background-image: linear-gradient(to right bottom, rgba(255,185,0, .85), rgba(255,119,48, .85));

			}

.card__heading-span--two{
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126,213,111, .85)), to(rgba(40,180,133, .85)));
				background-image: linear-gradient(to right bottom, rgba(126,213,111, .85), rgba(40,180,133, .85));

			}

.card__heading-span--three{
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41,152,255, .85)), to(rgba(255,119,48, .85)));
				background-image: linear-gradient(to right bottom, rgba(41,152,255, .85), rgba(255,119,48, .85));

			}

.card__details{
		padding: 3rem;
	}

.card__details ul{
			list-style: none;
			width: 80%;
			margin:0 auto;
		}

.card__details ul li{
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;
			}

.card__details ul li:not(:last-child){
					border-bottom: 1px solid #eee;
				}

/*Back side styling*/

.card__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}

.card__price-box{
		text-align: center;
		margin-bottom: 8rem;
		color: #FFF;
	}

.card__price-only{
		font-size: 1.4rem;
		text-transform: uppercase;
	}

.card__price-value{
		font-size: 6rem;
		font-weight: 100;
	}

/*.card:hover .card__side */

.stories{
	padding: 15rem 0;
	/*background-color: $colorGreyLight1;*/
	position: relative;
}

.story{
	width: 75%;
	margin:0 auto;
	-webkit-box-shadow: 0 3rem 6rem rgba(0,0,0,.3);
	        box-shadow: 0 3rem 6rem rgba(0,0,0,.3);
	background-color: rgba(255,255,255, .6);
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: 1.6rem;
	-webkit-transform: skewX(-12deg);
	        transform: skewX(-12deg);


}

.story > * {
		-webkit-transform: skewX(12deg);
		        transform: skewX(12deg);
	}

.story__shape{
		width: 15rem;
		height: 15rem;
		/*background-color: orangered;*/
		float: left;
		shape-outside: circle(50% at 50% 50%);/*it works on h, w,  and float*/
		
		-webkit-clip-path: circle(50% at 50% 50%);
		
		        clip-path: circle(50% at 50% 50%);
		-webkit-transform: translateX(-3rem) skewX(12deg);
		        transform: translateX(-3rem) skewX(12deg);
		position: relative;
	}

.story__image{
		/*width: 100%;*/
		height: 100%;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
		-webkit-transform: translateX(-4rem) scale(1.3);
		        transform: translateX(-4rem) scale(1.3);
	}

.story__text {
		-webkit-transform: skewX(12deg);
		        transform: skewX(12deg);
	}

.story__caption{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, 20%);
		        transform: translate(-50%, 20%);
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.7rem;
		opacity: 0;
		-webkit-transition: all .5s;
		transition: all .5s;
		-webkit-backface-visibility:hidden;
		        backface-visibility:hidden;
	}

.story:hover .story__caption{
		opacity: 1;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}

.story:hover .story__image{
		-webkit-transform: translateX(-4rem) scale(1);
		        transform: translateX(-4rem) scale(1);
		-webkit-filter: blur(3px) brightness(80%);
		        filter: blur(3px) brightness(80%);
	}

.bg-video{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: .2;
	overflow: hidden;
}

.bg-video__content{
		/*to fix the video */
		height: 100%;
		width: 100%;
		/*to maintaitns object ratio*/
		-o-object-fit: cover;
		   object-fit: cover;/*simlar to the cover and maintatins abspect ratio*/
	}

.book-section{
	padding: 15rem 0;
	background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485) );
	background-image: linear-gradient(to right bottom, #7ed56f, #28b485 );
}

.book {
	background-image: linear-gradient(105deg, 
		rgba(255,255,255, .9)  0%,
		rgba(255,255,255, .9)  50%,
		transparent 50%) ,url(../../assets/images/nat-10.jpg);
	background-size: cover;/*100% is simaler to cover*/
	background-repeat: no-repeat;
	border-radius: 3px;
	-webkit-box-shadow: 0 1.5rem 8rem rgba(0,0,0,.25);
	        box-shadow: 0 1.5rem 8rem rgba(0,0,0,.25);


	height: 50rem;
}

.book__form{
		width: 50%;
		padding: 6rem;
	}

.form__group:not(:last-child){
		margin-bottom: 2rem;
	}

/*we want on all but not on last one so the trick is :not psuedocelector*/

.form__input{
		font-size: 1.5rem;
		font-family: inherit;/*we inherut from the html*/
		color: inherit;
		padding: 1.5rem 2rem;
		border-radius: 2px;
		background-color: rgba(255,255,255, .5);
		border:none;
		border-bottom: 3px solid transparent;
		width: 90%;
		display: block;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

.form__input:focus{
			outline: none;
			-webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
			        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
			border-bottom: 3px solid #7ed56f;
		}

.form__input:focus:invalid {
			border-bottom: 3px solid #ff7730;
		}

/*webkit inout place holder :: is psudeoelement*/

.form__input::input-placeholder {
			color:#999;
		}

.form__label{
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: .7rem;
		display: block;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

.form__input:placeholder-shown + .form__label{
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateY(-4rem);
		        transform: translateY(-4rem);
	}

.form__radio-group {
		width: 49%;
		display: inline-block;
	}

.form__radio-input{
		display: none;
	}

.form__radio-label {
		font-size: 1.6rem;
		cursor: pointer;
		position: relative;
		padding-left:4.5rem;
	}

.form__radio-button{
		height: 3rem;
		width: 3rem;
		border: 5px solid #7ed56f;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		left: 0;
		top: -.4rem;


	}

.form__radio-button::after{
			content:"";
			display: block;
			height:1rem;
			width: 1rem;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			background-color: #7ed56f;
			opacity: 0;
			-webkit-transition: opacity .2s;
			transition: opacity .2s;

		}

/*checked pseudoclass in all radio buttons available*/

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
		opacity: 1;
	}

.site-footer{
	background-color: #333;
	padding: 10rem 0;
	font-size: 1.4rem;
	color:#F7F7F7;
}

.site-footer__logo-box{
		text-align: center;
		margin-bottom: 8rem;

	}

.site-footer__logo{
		width: 15rem;
		height: auto;
	}

.site-footer__navigation{
		
		border-top: 1px solid #eee;
		padding-top: 2rem;
		display: inline-block;
	}

.site-footer__list{
		list-style: none;
	}

.site-footer__item{

		display: inline-block;
	}

.site-footer__item:not(:last-child){
			margin-right: 1.5rem;
		}

.site-footer__link:link,
		.site-footer__link:visited{
			color: #F7F7F7;
			background-color: #333;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			-webkit-transition: all .2s;
			transition: all .2s;

		}

.site-footer__link:hover,
		.site-footer__link:active{
			color:#7ed56f;
			-webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
			        box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
			-webkit-transform: rotate(5deg) scale(1.2);
			        transform: rotate(5deg) scale(1.2);
		}

.site-footer__copyright{
		
		border-top: 1px solid #eee;
		padding-top: 2rem;
		width: 80%;
		float: right;
	}