.btn:link,
.btn:visited{ 
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all .5s;
	position: relative;
	font-size: 1.6rem;

}

.btn:hover{
	transform: translateY(-3px); /*to go up*/
	box-shadow: 0 1rem 2rem rgba(0,0,0,.8); /*x y blureshadow and color*/
}

.btn:active{
	/*click state*/
	transform: translateY(-1px);
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn::after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .8s;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn--white{
	background-color: #FFF;
	color: #777;
}

.btn--white::after{
	background-color: #FFF;
}

.btn--animated-bottom-to-top{
		animation: moveInBottom .5s ease-out .75s backwards;
}


@keyframes moveInBottom {
	0%{
		opacity: 0;
		transform: translateY(3rem);
	}

	80%{
		transform: translateY(-1rem);
	}

	100%{
		opacity: 1;
		transform: translatY(0);
	}
}