.site-header{
	height: 95vh; /*view-port*/
	background-image: linear-gradient( to right bottom, rgba($lightGreen, 0.8), rgba($mediumGreen, 0.8)) , url(../../assets/images/hero.jpg);
	background-size: cover;
	background-position:top; /*center, bottom and top*/
	/*for cliping the path;  http://bennettfeely.com/clippy*/
	clip-path: polygon(0 0, 100% 0,  100% 75vh, 0 100%); /*clock wise*/
	position: relative; 
	
	&__logo-box{
		position: absolute;
		/*border:$testBorder;*/
		top: 4rem;
		left: 4rem;
	}


	&__logo{
		height: 3.5rem;
	}

	&__info{
	/*	border:$testBorder;*/
		position: absolute;
		top: 40%; 
		left: 50%; 
		transform: translate(-50%, -50%); 
		/*for thebooton as inline-block*/
		text-align: center;
	}

	&__heading{
		color: #FFF;
		text-transform: uppercase;
		backface-visibility: hidden; /*to fix little sake*/
		margin-bottom: 6rem;

		&--primary{
			display: block;
			font-size: 6rem;
			font-weight: 400;
			letter-spacing: 3.5rem;
			animation: moveInLeft 1s ease-out;
			/*animation-iteration-count: 3;*/
			/*animation-delay: 3s*/
		}

		&--secondary{
			display: block;
			font-size: 2rem;
			font-weight: 400;
			letter-spacing: 1.75rem;
			animation: moveInRight 1s ease-out;
		}
	}

	

}	


@keyframes moveInLeft {
	0%{
		opacity: 0;
		transform: translateX(-10rem);
	}

	80%{
		transform: translateX(1rem);
	}

	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0%{
		opacity: 0;
		transform: translateX(10rem);
	}

	80%{
		transform: translateX(-1rem);
	}

	100%{
		opacity: 1;
		transform: translate(0);
	}
}