.site-header{
	height: 95vh; /*view-port*/
	background-image: linear-gradient( to right bottom, rgba($lightGreen, 0.8), rgba($mediumGreen, 0.8)) , url(../../assets/images/hero.jpg);
	background-size: cover;
	background-position:top; /*center, bottom and top*/
	/*for cliping the path;  http://bennettfeely.com/clippy*/
	clip-path: polygon(0 0, 100% 0,  100% 75vh, 0 100%); /*clock wise*/
	position: relative; 
	background-attachment: fixed;
	
	&__logo-box{
		position: absolute;
		/*border:$testBorder;*/
		top: 4rem;
		left: 4rem;
	}


	&__logo{
		height: 3.5rem;
	}

	&__info{
	/*	border:$testBorder;*/
		position: absolute;
		top: 40%; 
		left: 50%; 
		transform: translate(-50%, -50%); 
		/*for thebooton as inline-block*/
		text-align: center;
	}

	

	

}	

