.story{
	width: 75%;
	margin:0 auto;
	box-shadow: 0 3rem 6rem rgba(0,0,0,.3);
	background-color: rgba(#fff, .6);
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: $defaultFontSize;
	transform: skewX(-12deg);

	& > * {
		transform: skewX(12deg);
	}	

	&__shape{
		width: 15rem;
		height: 15rem;
		/*background-color: orangered;*/
		float: left;
		shape-outside: circle(50% at 50% 50%);/*it works on h, w,  and float*/
		
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewX(12deg);
		position: relative;
	}

	&__image{
		/*width: 100%;*/
		height: 100%;
		backface-visibility: hidden;
		transform: translateX(-4rem) scale(1.3);
	}

	&__text {
		transform: skewX(12deg);
	}

	&__caption{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.7rem;
		opacity: 0;
		transition: all .5s;
		backface-visibility:hidden;
	}


	&:hover &__caption{
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&:hover &__image{
		transform: translateX(-4rem) scale(1);
		filter: blur(3px) brightness(80%);
	}


}